#body-container {
  padding-bottom: 80px;
  box-sizing: border-box;
  overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    color: var(--text-color);
    padding: 0;
    background: var(--bg-color);

background-image: linear-gradient(to bottom, var(--bg-col-gradientTop), var(--bg-col-gradientBottom)), url('images/bg_spiff.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-container {
  margin-top: 24px;
  padding: 0;
}

#name {
  font-size: 0.8rem;
  color: var(--text-color);
  text-align: right;
  opacity: 0;
  transition: opacity 0.5s ease;
  margin-bottom: -10px;
  margin-right: 7px;
}

#header {
  font-size: 6rem;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  text-align: center;
  line-height: 1;
}

#subtitle {
    font-size: 1.45rem;
    margin-top: -16px;
    margin-bottom: 0px;
    text-decoration:hsl(from color h s l);
    text-decoration: underline;
}

#contact {
    margin-top: 3px;
    font-size: 16px;
    text-align: center;
    background-repeat: no-repeat;
}

#contact a {
    text-decoration: none;
    padding-left: 18px;
    display: inline-block;
    color: var(--text-color);
    align-items: center;
}

#contact a:hover {
    text-decoration: underline;
}

#email-link::before {
  background-image: var(--email-icon);
}

#linkedin-link::before {
  background-image: var(--linkedin-icon);
}

#email-link::before,
#linkedin-link::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 6px;
  vertical-align: middle;
  transform: translateY(-1px);
}

#copy-message {
    display: none;
    position: fixed;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#tree-container {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 32px;
    z-index: 5;
}

.tree-stem-wrapper {
    position: relative;
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    margin-bottom: 0;
} 

.tree-stem {
    position: relative;
    width: 2px;
    height: 25px; 
    background-color: var(--text-color);
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.date {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: var(--shade-color);
    position: absolute;
    top: 3px;
    left: -260px;
    width: 250px;
    word-wrap: break-word;
    white-space: normal;
    text-align: right;
    font-weight:lighter;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.writing {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: var(--shade-color);
    position: absolute;
    left: 10px;
    top: 0;
    width: 250px;
    word-wrap: break-word;
    white-space: normal;
    text-align: left;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.company-name {
    font-size: 20px;
    color: var(--text-color);
    font-weight: bold;
}

/* On hover för company name if no link */
.company-name:hover {
    color: var(--text-color);
    text-decoration: underline;
}

.job-title {
    font-size: 16px;
    color: var(--text-color);
    margin-top: 2px;
}

.skills {
    color: var(--shade-color);
    font-size: 12px;
    font-style: italic;
    margin-top: -6px;
}

.game-link {
    font-size: 14px;
    color: var(--text-color);
    margin-top: 4px;
    text-decoration: none;
}

.game-link:hover {
    text-decoration: underline;
}

/* ==== Squirrels ==== */
#squirrel-container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 3;
}
body.touch #squirrel-container{
  bottom: 80px;
}

#squirrel {
    image-rendering: pixelated;
    width: 64px;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
}

#world_walkable { 
  position: fixed;
  bottom: 0px;
  left: 0;
}
body.touch #world_walkable {
  bottom: 80px;
}

#world_props_foreground {
  position: fixed;
  bottom: 0px;
  left: 0;
  z-index: 4;
}
body.touch #world_props_foreground {
  bottom: 80px;
}

/* ==== TOUCH BUTTONS ====*/
#touch-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
  touch-action: none;
}

.touch-button {
  flex: 1;
  height: 100%;
  opacity: 0.65;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  image-rendering: pixelated;
  border: 1px solid rgba(100, 200, 0, 0.2);

}
#btn-w { background-image: url('sprites/touch_controls/btn_up.gif'); }
#btn-a { background-image: url('sprites/touch_controls/btn_left.gif'); }
#btn-s { background-image: url('sprites/touch_controls/btn_down.gif'); }
#btn-d { background-image: url('sprites/touch_controls/btn_right.gif'); }

#particle-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
}

.particle {
  position: absolute;
  width: 64px;
  height: 64px;
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  opacity: 0.8;
  transition: transform 1.5s ease, opacity 1.5s ease;
}

/* ==== TILES ==== */
.platform {
  /* border: 2px solid rgba(255, 200, 0, 0.9); */
}
.passable_platform {
  /* border: 2px solid rgba(0, 255, 0, 0.9); */
}

/* :: BRICKLAND :: */
/* walkable */
.brick_blue_topleft_corner {
  image-rendering: pixelated;
  background-image: url('sprites/tiles/brickland/t_brick_blue_topleft_corner.gif');
}
.brick_blue_topleft_edge {
  image-rendering: pixelated;
  background-image: url('sprites/tiles/brickland/t_brick_blue_topleft_edge.gif');
}
.brick_blue_topmid {
  image-rendering: pixelated;
  background-image: url('sprites/tiles/brickland/t_brick_blue_topmid.gif');
}
.brick_blue_topmid2 {
  image-rendering: pixelated;
  background-image: url('sprites/tiles/brickland/t_brick_blue_topmid2.gif');
}
.brick_blue_topright_corner {
  image-rendering: pixelated;
  background-image: url('sprites/tiles/brickland/t_brick_blue_topright_corner.gif');
}
.brick_blue_topright_edge {
  image-rendering: pixelated;
  background-image: url('sprites/tiles/brickland/t_brick_blue_topright_edge.gif');
}

/* :: WOODEN STUFF :: */
/* walkable */
.wooden_box_vertical {
  image-rendering: pixelated;
  background-image: url('sprites/tiles/woodenbox/t_wooden_box_vert.gif');
}
.wooden_box_horizontal {
  image-rendering: pixelated;
  background-image: url('sprites/tiles/woodenbox/t_wooden_box_hor.gif');
}
.wooden_box_big32_vertical {
  image-rendering: pixelated;
  background-image: url('sprites/tiles/woodenbox/t_wooden_box_big32_vert.gif');
}
.wooden_plank {
  image-rendering: pixelated;
  background-image: url('sprites/tiles/woodenbox/t_wooden_plank.gif');
}

/* decorations */
.wooden_box_background_horizontal {
 image-rendering: pixelated;
 background-image: url('sprites/tiles/woodenbox/t_wooden_box_bg_hor.gif');
}

.wooden_support_left {
  image-rendering: pixelated;
   background-image: url('sprites/tiles/woodenbox/t_wooden_support_left.gif');
}

.wooden_box_background_big32_horizontal {
 image-rendering: pixelated;
 background-image: url('sprites/tiles/woodenbox/t_wooden_box_big32_bg_hor.gif');
}

/* :: PROPS :: */
/* decorations */
.bottle_wine {
  image-rendering: pixelated;
  background-image: url('sprites/tiles/props/p_wine.gif');
  z-index: 4;
}

.grass1 {
  image-rendering: pixelated;
  background-image: url('sprites/tiles/props/p_grass1.gif');
}

.grass2 {
  image-rendering: pixelated;
  background-image: url('sprites/tiles/props/p_grass2.gif');
}

.insect1 {
  image-rendering: pixelated;
  background-image: url('animations/insect1.gif');
}

.insect2 {
  image-rendering: pixelated;
  background-image: url('animations/insect2.gif');
}
