<section class="hero is-fullheight has-text-centered about-section" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-narrow">
                    <figure class="image is-150x150">
                        <img class="is-rounded profile-image" src="{{site.author-image}}" alt="{{site.author-name}}">
                        </figure>
                        <p class = "image-texts">Richard 'Spiffe' Nordström
                        </p>
                </div>
                            <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                                <p><!--{{site.author-about}}-->Hello!</p>
                                <p class="additional-text">My name is Richard Nordström. I'm a game developer with a huge passion for, not only games, but also all things audio.
                                    <br>
                                    <br>While these are both life-long interests for me,
                                    <br>studying Game Programming at<a href="https://futuregames.se" target="_blank">Futuregames <i class="fas fa-external-link-alt"></i></a>
                                    was my entry-point for working with games professionally.
                                    <br>
                                    <br>2021-2024 I've been working at<a href="https://www.falldamagestudio.com/" target="_blank">Fall Damage. <i class="fas fa-external-link-alt"></i></a>
                                    as a technical audio software engineer on our tactical FPS title<a href="https://playalara.com/" target="_blank">Alara Prime. <i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
           
<!-- Images -->
</p>
<div class="about-image-container is-centered">
    <img src="/assets/images/fd/fd_black_small.png">
    <img src="/assets/images/fglogo.png">
    <img src="/assets/images/saelogo_black_85.png">
</div>

            <!-- splitter and button -->
            <hr class="custom-hr">
            <a href="{{site.url}}{{site.baseurl}}/#alara-section"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">&#x21E3  Alara Prime <!--annan pil &#129083 -->
            </a>
            
        </div>
    </div>
</section>
