<section class="hero is-fullheight has-text-centered alara-section" id="alara-section">
  <div class="hero-body">
    <div class="container">
        
        <!-- Header Logo -->
        <div class="header-logo">
          <img src="/assets/images/fd/alara/AlaraPrimeLogo_Wordmark_BLACK_crop.png" alt="HeaderLogo">
        </div>

      <!-- Screenshots -->
      <div class="columns is-centered screenshot-row">
        <div class="column is-one-quarter">
          <a href="/assets/images/fd/alara/alara_screen_1.png" target="_blank">
            <img class="screenshot" src="/assets/images/fd/alara/alara_screen_1_thumb.png" alt="Screenshot 1">
          </a>
        </div>
        <div class="column is-one-quarter">
          <a href="/assets/images/fd/alara/alara_screen_2.png" target="_blank">
            <img class="screenshot" src="/assets/images/fd/alara/alara_screen_2_thumb.png" alt="Screenshot 2">
          </a>
        </div>
        <div class="column is-one-quarter">
          <a href="/assets/images/fd/alara/alara_screen_3.png" target="_blank">
            <img class="screenshot" src="/assets/images/fd/alara/alara_screen_3_thumb.png" alt="Screenshot 3">
          </a>
        </div>
      </div>

      <div class="columns is-centered screenshot-row">
        <div class="column is-one-quarter">
          <a href="/assets/images/fd/alara/alara_screen_4.png" target="_blank">
            <img class="screenshot" src="/assets/images/fd/alara/alara_screen_4_thumb.png" alt="Screenshot 4">
          </a>
        </div>
        <div class="column is-one-quarter">
          <a href="/assets/images/fd/alara/alara_screen_5.png" target="_blank">
            <img class="screenshot" src="/assets/images/fd/alara/alara_screen_5_thumb.png" alt="Screenshot 5">
          </a>
        </div>
        <div class="column is-one-quarter">
          <a href="/assets/images/fd/alara/alara_screen_6.png" target="_blank">
            <img class="screenshot" src="/assets/images/fd/alara/alara_screen_6_thumb.png" alt="Screenshot 6">
          </a>
        </div>
        </div>
        
        
        <!-- Alara prime description -->
            <div class="alara-section-text">
            {{ site.alara-description-text }}
         
         
          <hr>
          <h2 class="alara-section-headline">Working with Alara Prime...</h2>
          An Unreal Engine game utilizing Wwise, I had a wide variety of audio-tech / audio programmer tasks such as;

          <!-- List style -->
          <style>
            ul {
                list-style-type: disc;
                padding-left: 60px; /* Add some padding for the bullets */
                margin-top: 18px;
            }
    
            li {
                margin-bottom: 10px; /* space between the list items */
            }
        </style>
        <ul>
          <li>Designing and implementing audio systems and features.</li>
          <li>Creation of custom audio tools, to improve workflow for the audio team.</li>
          <li>In-depth mixing and optimization for immersive audio while maintaining performance.</li>
          <li>Spatial audio utilizing both Wwise spatial audio and Project Acoustics.</li>
          <li>WWwise - UE integration and structuring of audio-assets.</li>
        </ul>
          
          
          <div class="alara-section-logos-wrapper">
            <div class="alara-section-logos">
                <img src="/assets/images/wwise_logo_140.png">
                <img src="/assets/images/c-logo-icon2.png">
                <img src="/assets/images/ue-logo_inv.png">
            </div>
          </div>
        
          
        <!-- Länka trailern? -->
        </div>




 <!-- splitter and button -->
 <hr>
 <a href="{{site.url}}{{site.baseurl}}/#contact"
     class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">&#x21E3 Contact Me <!--annan pil &#129083 -->
 </a>
    </div>
  </div>
</section>